@import "@/assets/scss/base.scss";

.hunting-societies-head {
  padding: 20px 40px;
  border-bottom: 1px solid $color-gray-stroke;

  &__actions {
    padding-bottom: 20px;
    border-bottom: 1px solid $color-gray-stroke;
    display: flex;
    justify-content: space-between;

    .text-button {
      @include Typography(21px, 600, $color-gray-dark);
      display: flex;
      align-items: center;

      .icon {
        margin-left: 10px;
        margin-top: 10px;
      }
    }
  }

  &__search {
    margin-top: 20px;
  }

  @include Mobile {
    padding: 20px;
  }
}
