@import "@/assets/scss/base.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-height: calc(100svh - 336px);

  .plot-descriptions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    h2 {
      @include Typography($font-size-1, 600, $color-gray-dark);
    }

    &__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .button {
      margin: 0 auto;
      height: 50px;
    }
  }
}
