@import "../../assets/scss/bundle.scss";

.back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 12px;
  background: $color-bg-gray;
  border-radius: $border-radius;

  cursor: pointer;

  span {
    margin-left: 5px;
    @include Typography($font-size-3, 500, $color-medium-gray);
  }
}
