@import "@/assets/scss/bundle.scss";

.input-wrapper {
  width: 100%;
  height: 50px;
  padding: 16px 18px;
  background: $color-gray-bg;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  color: #344054;

  input {
    width: 100%;
    height: 100%;
    outline: none;

    @include Typography($font-size-3, 400, $color-gray-dark);
  }

  .icon {
    min-width: 16px;
  }

  &.input-error {
    color: $color-red;

    input {
      color: $color-red;
    }

    p {
      width: 100px;
      @include Typography($font-size-3, 400, $color-red);
    }
  }
}
