@import "@/assets/scss/bundle.scss";

.text-button {
  border: none;
  text-align: center;
  cursor: pointer;

  @include Typography($font-size-3, 500, $color-main);

  &:hover {
    color: $color-main-dark;
  }
  &:disabled {
    cursor: not-allowed;
    color: $color-gray-light;
  }
}
