$color-gray: #2f3640;
$color-gray-light: #c9cfdb;
$color-gray-medium: #838994;
$color-gray-dark: #303133;
$color-gray-bg: #f6f8fc;
$color-gray-stroke: #dfe3ea;

$color-main: #c3b091;
$color-main-light: #f3efe9;
$color-main-medium: #e7decd;
$color-main-dark: #aa8349;

$color-red-light: #faecee;
$color-red: #ca404f;

$color-blue-light: #e7f2fa;
$color-blue: #0877c8;

$color-green-light: #e0f1e4;
$color-green: #309f49;

$color-white: #ffffff;
$color-black: #000000;
