@import "@/assets/scss/base.scss";

.plotDescriptions-list {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include Mobile {
    padding: 20px 10px;
  }
}
