$color-stroke-gray: #dfe3ea;
$color-dark-gray: #303133;
$color-medium-gray: #838994;
$color-light-gray: #c9cfdb;
$color-bg-gray: #f6f8fc;
$color-gray: #2f3640;

$color-main: #c3b091;
$color-main-light: #f3efe9;
$color-main-medium: #e7decd;
$color-main-dark: #aa8349;

$color-light-red: #faecee;
$color-red: #ca404f;

$color-light-blue: #e7f2fa;
$color-blue: #0877c8;

$color-green: #309f49;

$color-white: #ffffff;
