@import "../../../assets/scss/bundle.scss";

.recovery-password {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;

  img {
    width: 140px;
  }

  h1 {
    text-align: center;
  }

  &__form {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    button {
      width: 100%;
      height: 56px;
      box-sizing: border-box;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-around;
    gap: 50px;
  }
}
