@import "../../../assets/scss/bundle.scss";

.form-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 20px;
  border-bottom: 1px solid $color-stroke-gray;

  position: fixed;
  top: 0;
  z-index: 1;

  .button {
    width: 120px;
    height: 40px;
  }

  .link-button {
    color: $color-medium-gray;
    background: $color-bg-gray;
    padding: 10px 15px;
    border-radius: $border-radius;
  }

  .text-button {
    @include Typography($font-size-2, 500, $color-light-gray);
  }
}
