@import "@/assets/scss/base.scss";

.parners__form {
  width: 370px;
  @include Frame;

  h3 {
    @include Typography($font-size-2, 500, $color-gray-dark);
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .button {
      height: 50px;
    }
  }
}
